<section class="copyright row">
  <div class="columns">
    <h4 class="subheader">
      <small>Copyright &copy; Viking Glory Productions | Built on <a href="https://github.com/jneurock/viking-base">Viking Base</a></small>
    </h4>
  </div>
</section>