<header class="row main">
  <div class="large-3 small-4 columns">
    <div class="profile-image">
      <img src="img/rocky.jpg" alt="Picture of Rocky" height="200" width="200" />
    </div>
  </div>

  <div class="large-9 small-8 columns">
    <h3 class="white-shadow">
      Good {{timeOfDay}}, <br />
      
      <span class="show-for-medium-up">
        My name is Rocky. Viking Glory is the name of my company. This site is a
        place for me to share ideas and articles related to web development.
      </span>

      <h6 class="subheader show-for-small-only">
        My Name is Rocky. <br />
        Welcome to Viking Glory.
      </h6>
    </h3>
  </div>
</header>