<section class="row into-lately">
  <div class="columns">
    <h3 class="subheader text-center">What I've Been Into Lately</h3>

    <ul class="large-block-grid-8 small-block-grid-4">
      {{#each App.intoLatelyItems}}
        {{partial "into-lately-item"}}
      {{/each}}
    </ul>
  </div>
</section>