<nav class="row">
  <div class="columns">
    <dl class="sub-nav">
      {{#each item in navItems}}
        {{nav-item path=item.path title=item.title url=item.url}}
      {{/each}}
    </dl>
  </div>
</nav>