{{! This should probably be data driven, huh? }}
<section class="row">
  <div class="columns">
    <h3 class="subheader uppercase">
      <span class="icon github"></span> Projects
    </h3>

    <dl>
      <dt>
        <a href="https://github.com/jneurock/viking-base">Viking Base</a>
      </dt>
    </dl>
  </div>
</section>

<section class="row">
  <div class="columns">
    <h3 class="subheader uppercase">
      <span class="icon calendar"></span> Happenings
    </h3>

    <dl>
      <dt>
        <a href="http://www.meetup.com/PDXSass/" rel="nofollow">PDX Sass</a>
      </dt>

      <dt>
        <a href="http://www.meetup.com/Ember-PDX/" rel="nofollow">Ember.js Portland Meetup</a>
      </dt>
    </dl>
  </div>
</section>