<h2>Friends</h2>

<p>
  It wasn't that long ago that I started this company and in that short
  time I've been fortunate enough to know all the people below. There are
  some I know well, some I know a little and others I couldn't include
  because they don't have homes on the Internet.
</p>

{{#each friendGroup in model}}
  {{partial "friend-group"}}
{{/each}}