@media #{$small-only} {
  code {
    overflow-x: auto;
  }

  header.main {
    h3 {
      margin: 0;
    }
  }

  .sub-nav dt,
  .sub-nav dd,
  .sub-nav li {
    margin-left: 0.5rem;

    a,
    a.active {
      padding: 0.5em;
    }
  }
}