.code--container {
  background-color: $code-bg;
  border-radius: $global-radius;
  border: 1px solid $box-shadow-color;
  padding: 1em;

  code {
    color: lighten($body-font-color, 25%);
    display: block;
    font-weight: normal;
    overflow-x: auto;
    white-space: nowrap;

    .comment {
      color: lighten($body-font-color, 50%);
    }
  }
}