<footer class="row main">
  <div class="large-8 columns">
    <p>
      While I still take on small projects from time to time, I spend most of my time developing front-end code at my full-time job.
      If you have an idea for a weekend project or need some part-time consulting work, feel free to contact me:
      <a href="mailto:info@vikingglory.com">info@vikingglory.com</a>
    </p>
  </div>

  <div class="large-4 columns">
    <p>
      Connect with me on LinkedIn: <br />
      <a href="http://www.linkedin.com/in/jneurock" class="li-connect-link">Rocky Neurock</a>
    </p>

    <p>
      You can also find me on GitHub: <br />
      <a href="https://github.com/jneurock/" class="github-link">jneurock (Rocky Neurock)</a>
  </div>
</footer>