<header class="row main">
  <div class="large-3 columns">
    <div class="profile-image">
      <img src="img/rocky.jpg" alt="Picture of Rocky" height="200" width="200" />
    </div>
  </div>

  <div class="large-9 columns">
    <h3 class="white-shadow">
      Good {{App.timeOfDay}}, <br />
      My name is Rocky. Viking Glory is the name of my company. This site is a
      place for me to share ideas and articles related to software development.
    </h3>
  </div>
</header>