<nav class="row">
  <div class="columns">
    <dl class="sub-nav">
      <dd {{bind-attr class="App.Nav.isPathHome:active"}}>
        {{#link-to "index" title="Home"}}Home{{/link-to}}
      </dd>

      <dd {{bind-attr class="App.Nav.isPathProjects:active"}}>
        {{#link-to "projects" title="Projects"}}Projects{{/link-to}}
      </dd>

      <dd {{bind-attr class="App.Nav.isPathGists:active"}}>
        {{#link-to "gists" title="Gists"}}Gists{{/link-to}}
      </dd>
    </dl>
  </div>
</nav>