<article class="row">
  <div class="columns">
    <header>
      <h3>Articles</h3>
    </header>

    <section>
      <p>
        Nothing here, yet. Soon... very soon.
      </p>
    </section>
  </div>
</article>