article {
  border-bottom: 1px dashed $box-shadow-color;

  header {
    h3 {
      color: $primary-color;
      margin-bottom: 0;
    }

    .subheader {
      line-height: 1;
    }
  }

  &.last {
    border-bottom: none;
  }
}