// Pre
pre {
  display: block;
  margin-bottom: $paragraph-margin-bottom;

  code {
    border: 1px solid $box-shadow-color;
    border-radius: $global-radius;
  }
}

// Margin/Padding
.no-margin {
  margin: 0;
}

// Lists
dl,
ol,
ul {
  padding-left: 1em;
}

// Text Shadows
.white-shadow {
  text-shadow: 1px 1px $white-shadow-color;
}

// Foundation Row
.row {
  padding: em-calc(10) 0;
}

// Text Transform
.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}